<div class="row-fluid">
	<div class="span8 offset2">

		<div class="row-fluid">
			<div class="span7">
				How often do you paraphrase others when listening?
			</div>
			<div class="span1 offset4">
				<input type="checkbox"> NA
			</div>
		</div>

		<div class="row-fluid">
			<div class="span1 offset1">Never</div>
			<div class="span1 offset9">Always</div>
			<div class="offset2 slider" id="slider1"></div>
		</div>
		<br>


		<div class="row-fluid">
			<div class="span7">
				How often do you ask probing questions?
			</div>
			<div class="span1 offset4">
				<input type="checkbox"> NA
			</div>
		</div>

		<div class="row-fluid">
			<div class="span1 offset1">Never</div>
			<div class="span1 offset9">Always</div>
			<div class="offset2 slider" id="slider2"></div>
		</div>
		<br>
		
		<div class="row-fluid">
			<div class="span7">
				How often do you use good body language?
			</div>
			<div class="span1 offset4">
				<input type="checkbox"> NA
			</div>
		</div>

		<div class="row-fluid">
			<div class="span1 offset1">Never</div>
			<div class="span1 offset9">Always</div>
			<div class="offset2 slider" id="slider3"></div>
		</div>
		<br>

		<div class="row-fluid">
			<div class="span7">
				How often do you tell the truth?
			</div>
			<div class="span1 offset4">
				<input type="checkbox"> NA
			</div>
		</div>

		<div class="row-fluid">
			<div class="span1 offset1">Never</div>
			<div class="span1 offset9">Always</div>
			<div class="offset2 slider" id="slider4"></div>
		</div>
		<br>

		<div class="row-fluid">
			<div class="span7">
				How often do you invite others to meetings?
			</div>
			<div class="span1 offset4">
				<input type="checkbox"> NA
			</div>
		</div>

		<div class="row-fluid">
			<div class="span1 offset1">Never</div>
			<div class="span1 offset9">Always</div>
			<div class="offset2 slider" id="slider5"></div>
		</div>
		<br>

		<div class="row-fluid">
			<div class="span7">
				How often do you ask for feedback?
			</div>
			<div class="span1 offset4">
				<input type="checkbox"> NA
			</div>
		</div>

		<div class="row-fluid">
			<div class="span1 offset1">Never</div>
			<div class="span1 offset9">Always</div>
			<div class="offset2 slider" id="slider6"></div>
		</div>
		<br>

		<div class="row-fluid">
			<div class="span7">
				How often do you share your vision for the future?
			</div>
			<div class="span1 offset4">
				<input type="checkbox"> NA
			</div>
		</div>

		<div class="row-fluid">
			<div class="span1 offset1">Never</div>
			<div class="span1 offset9">Always</div>
			<div class="offset2 slider" id="slider7"></div>
		</div>
		<br>

		<div class="row-fluid">
			<div class="span7">
				How often do you involve others in creating vision?
			</div>
			<div class="span1 offset4">
				<input type="checkbox"> NA
			</div>
		</div>

		<div class="row-fluid">
			<div class="span1 offset1">Never</div>
			<div class="span1 offset9">Always</div>
			<div class="offset2 slider" id="slider8"></div>
		</div>
		<br>

		<div class="row-fluid">
			<div class="span7">
				How often do you share your vision in writing?
			</div>
			<div class="span1 offset4">
				<input type="checkbox"> NA
			</div>
		</div>

		<div class="row-fluid">
			<div class="span1 offset1">Never</div>
			<div class="span1 offset9">Always</div>
			<div class="offset2 slider" id="slider9"></div>
		</div>
		<br>

	</div>
</div>