<div class="row-fluid">
	<div class="span9 offset2" id="friends">
    <h2>Facebook Friends</h2>
    <div class="span2">
      <ul>
        <li>Person 1</li>
        <li>Person 2</li>
        <li>Person 3</li>
      </ul>
    </div>
    <div class="span2">
      <ul>
        <li>Person 4</li>
        <li>Person 5</li>
        <li>Person 6</li>
      </ul>
    </div>
    <div class="span2">
      <ul>
        <li>Person 7</li>
        <li>Person 8</li>
        <li>Person 9</li>
      </ul>
    </div>
    <div class="span2">
      <ul>
        <li>Person 10</li>
        <li>Person 11</li>
        <li>Person 12</li>
      </ul>
    </div>
    <div class="span2">
      <ul>
        <li>Person 13</li>
        <li>Person 14</li>
        <li>Person 15</li>
      </ul>
    </div>
  </div>
</div>
 
<div class="row-fluid">
	<div class="span3 offset2"  id="raters">
	  <h2>Friends/Family</h2>
	  <div class="ui-widget-content">
	    <ol>
	      <li class="placeholder">Add at least three friends</li>
	      <li class="placeholder"></li>
	      <li class="placeholder"></li>
	    </ol>
	  </div>
	</div>
	<div class="span3"  id="raters">
	  <h2>Coworkers</h2>
	  <div class="ui-widget-content">
	    <ol>
	      <li class="placeholder">Add at least three coworkers</li>
	      <li class="placeholder"></li>
	      <li class="placeholder"></li>
	    </ol>
	  </div>
	</div>
	<div class="span3"  id="raters">
	  <h2>Supervisors</h2>
	  <div class="ui-widget-content">
	    <ol>
	      <li class="placeholder">Add at least three supervisors</li>
	      <li class="placeholder"></li>
	      <li class="placeholder"></li>
	    </ol>
	  </div>
	</div>
</div>